<a href="https://colab.research.google.com/github/abergues/SalsaApp/blob/eero/Annotation_from_labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Use Labels in Data_steps_manual.csv to create the Annotation.json.

This works only half way. You need to manually create the annotation file, but the format of the last print is correct. you have to make it to a nested dictionary manually.

In [5]:
# libraries needed from outside
import os
from os import mkdir
from os.path import exists, join, basename, splitext
import sys
import glob                       # help for finding files
from re import split              # regular expression string splitter
import subprocess                 #subprocess wraps around regular os commands
import shutil                     # used for copying files in the os.
import pandas as pd
import json
import csv

from google.colab import drive
drive.mount('/content/gdrive')
 
if os.path.isdir('/content/gdrive/MyDrive'):     # Ana
  google_drive_path = '/content/gdrive/MyDrive'
if os.path.isdir('/content/gdrive/MyDrive/DSR'):  # Eero. ipython can deal with MyDrive, 
  # but some bash commands require the space in "My Drive" to work.  and some fail.
  # I believe this has to do with what kind of " " '' one is using, as they must not be mixed. 
  google_drive_path = '/content/gdrive/MyDrive/DSR' 
else:
  print("There is a problem google_drive_path.")

root_path   = os.path.join(google_drive_path ,  "DanceApp/output_op")  
script_path = "/content/gdrive/MyDrive/DSR/2021-DSR-Porfolio/python_scripts"
#one cannot add items to sys.path that have a space in them. so script path must
#the same for Ana and Eero.  Eero has now added a link from his DSR to Ana's 2021-DSR-Porfolio/
#script_path = os.path.join(google_drive_path , "2021-DSR-Porfolio/python_scripts")
print("Using ", root_path, " as root_path")
# here = os.getcwd()
# print(here)
# print(sys.path)
# sys.path = ['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']

def check_path(x):
  if os.path.isdir(x):
    print("Using", x )
  else:
    print("Problem: There was no ", x)  # No error keeps running

def stop_if_no_path(x):
  if os.path.isdir(x):
    print("Using", x )
  else:
    raise Exception("Problem: There was no ", x)  # Throws and error and stops

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Using  /content/gdrive/MyDrive/DSR/DanceApp/output_op  as root_path

In [18]:
check_path(root_path)

Using /content/gdrive/MyDrive/DSR/DanceApp/output_op

NameError: ignored

In [19]:
clip_name = "1p_JonathanB_05122021_choreo1"
print("clip_name: ", clip_name)
annotation_dir = os.path.join(root_path, clip_name)
input_csv = os.path.join(annotation_dir, "Data_steps_manual.csv")

if os.path.isfile(input_csv):
  print("Found the csv")
else:
  print("The , ", input_csv, " file does not exist.")
  # raise Exception("No input csv file")

data_t = pd.read_csv(input_csv)
data_t
# with open(input_file) as f:
#   f_csv = csv.reader(f)
#   headers = next(f_csv)
#   Row = namedtuple('Row', headings)
#   for r in f_csv:
#     row = 

# label_data = from_csv() 
# video_out = rotate_output_dir + "/" + video_name + "_h" + str(new_height) + video_ext
#   print(video_out)
#   video_in = video


#   if not os.path.isdir(resize_output_dir):
#     os.mkdir(resize_output_dir)
#     print("Created a folder for rotated video output:", src_folder, "/h",str(new_height) )
#   else:
#     print("Folder for rotated video output:", src_folder, "/h",str(new_height) )

clip_name:  1p_JonathanB_05122021_choreo1
Found the csv

      Time_ms  Frame  duration figure  seconds  minutes  seconds.1
0     6673.33    201        91      B        7        0          7
1     9709.70    292        94      B       10        0         10
2    12846.17    386        82      R       13        0         13
3    15582.23    468        95      R       16        0         16
4    18752.07    563        98      S       19        0         19
5    22022.00    661        88      S       22        0         22
6    24958.27    749        84      C       25        0         25
7    27761.07    833        80      C       28        0         28
8    30430.40    913        88      Q       30        0         30
9    33366.67   1001        98      Q       33        0         33
10   36636.60   1099        93  Break       37        0         37
11   39739.70   1192        95      B       40        0         40
12   42909.53   1287        89      B       43        0         43
13   45879.17   1376        92      R       46        0         46
14   48948.90   1468        93      R       49        0         49
15   52052.00   1561        94      S       52        0         52
16   55188.47   1655        85      S       55        0         55
17   58024.63   1740        86      C       58        0         58
18   60894.17   1826        89      C       61        1          1
19   63863.80   1915        28      Q       64        1          4
20   64798.07   1943       131      Q       65        1          5
21   69169.10   2074        91      B       69        1          9
22   72205.47   2165        86  Break       72        1         12
23   75075.00   2251       106      B       75        1         15
24   78611.87   2357        86      B       79        1         19
25   81481.40   2443        82      R       81        1         21
26   84217.47   2525       105      B       84        1         24
27   87720.97   2630        96      R       88        1         28
28   90924.17   2726        84      C       91        1         31
29   94459.03   2810        90      C       94        1         34
30   97832.07   2900       113      S       98        1         38
31  100500.40   3013        81  Other      101        1         41
32  103203.10   3094        83  Break      103        1         43
33  105972.53   3177       102      B      106        1         46
34  109375.93   3279        90      R      109        1         49
35  112378.93   3369        98      R      112        1         52
36  115648.87   3467        95      S      116        1         56
37  118818.70   3562       133      S      119        1         59
38  123256.47   3695        85      C      123        2          3
39  126092.63   3780        86      Q      126        2          6
40  128962.17   3866       120      Q      129        2          9
41  132966.17   3986     -3986  Break      133        2         13

In [88]:
frame_nr = data_t["Frame"].tolist()
coreo = ["basic", "right-turn", "side", "cuban-basic", "suzie-q"]

# Forming tuples (start, end)
# tuples_f = [(x, frame_nr[frame_nr.index(x) + 1]) for x in frame_nr if frame_nr.index(x) < len(frame_nr) - 1]

data_t['start_frame'] = data_t['Frame']
data_t['end_frame'] = data_t['Frame'].shift(-1)
data_t

labels = data_t.sort_values(by='figure')
labels = labels.drop(['Time_ms',
                      'duration',
                              'minutes',
                              'seconds.1',
                              'Frame', 
                              'seconds'], axis=1) 

labels = labels.replace('C', 'cuban-basic')
labels = labels.replace('B', 'basic')
labels = labels.replace('S', 'side')
labels = labels.replace('R', 'right-turn')
labels = labels.replace('Q', 'suzie-q')

labels
# basic = {}

# for i in range(len(labels)):
#    if (labels['figure'].item==basic):
#      basic = basic.append([f"{labels['figure'][i]}: [[{labels['start_frame'][i]}, {labels['end_frame'][i]}]]"])


print(labels)

# labels

# lab_dic = dict.fromkeys(coreo)

# for ind, i in enumerate(lab_dic.keys()):
#     if lab_dic['figure'][i]==B 
#     lab_dic[i] = [tuples_f[2*ind], tuples_f[2*ind + 1]]

# def save_dict(output_op):
#      Anot_file = output_op + "/Annotation.json"
#      a_file = open(Anot_file, "w")
#      a_file = json.dump(lab_dic, a_file)

# save_dict(PATH_DATA)

         figure  start_frame  end_frame
0         basic          201      292.0
1         basic          292      386.0
33        basic         3177     3279.0
26        basic         2525     2630.0
24        basic         2357     2443.0
23        basic         2251     2357.0
21        basic         2074     2165.0
12        basic         1287     1376.0
11        basic         1192     1287.0
32        Break         3094     3177.0
22        Break         2165     2251.0
41        Break         3986        NaN
10        Break         1099     1192.0
38  cuban-basic         3695     3780.0
29  cuban-basic         2810     2900.0
17  cuban-basic         1740     1826.0
18  cuban-basic         1826     1915.0
28  cuban-basic         2726     2810.0
6   cuban-basic          749      833.0
7   cuban-basic          833      913.0
31        Other         3013     3094.0
9       suzie-q         1001     1099.0
39      suzie-q         3780     3866.0
20      suzie-q         1943     2074.0
40      suzie-q         3866     3986.0
19      suzie-q         1915     1943.0
8       suzie-q          913     1001.0
3    right-turn          468      563.0
25   right-turn         2443     2525.0
27   right-turn         2630     2726.0
13   right-turn         1376     1468.0
14   right-turn         1468     1561.0
2    right-turn          386      468.0
34   right-turn         3279     3369.0
35   right-turn         3369     3467.0
37         side         3562     3695.0
5          side          661      749.0
15         side         1561     1655.0
30         side         2900     3013.0
16         side         1655     1740.0
36         side         3467     3562.0
4          side          563      661.0